:root {
  --btn-color: rgb(241, 227, 81);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Crete Round", serif;
}

p {
  font-family: "Catamaran", sans-serif;
}

body {
  background-color: rgb(231, 241, 248);
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(46, 192, 232);
}

.navbar .navbar-brand {
  font-weight: bold;
}

.navbar .navbar-brand:hover {
  color: rgb(246, 206, 9);
}

.navbar a {
  color: rgb(250, 227, 18);
}

.navbar .active-link {
  color: rgb(24, 14, 136);
}

.navbar a:hover {
  color: rgb(24, 14, 136);
}

.developer {
  text-align: center;
  padding: 100px 50px 50px 50px;
  background-color: rgb(213, 227, 247);
}

.developer h1 {
  font-size: 80px;
  color: rgb(6, 19, 40);
}

@media (max-width: 576px) {
  .developer h1 {
    font-size: 45px;
  }

  .developer h2 {
    font-size: 18px;
  }

  .developer p {
    font-size: 20px;
  }
}

.developer h2 {
  font-size: 25px;
}

.developer p {
  font-size: 40px;
  color: rgb(6, 19, 40);
}

.developer a {
  margin: 30px 25px;
  padding: 15px 20px;
  color: rgb(4, 7, 52);
  font-family: "Crete Round", serif;
}

@media (max-width: 440px) {
  .developer a {
    margin-bottom: 0px;
  }
}

.btn-contact-main {
  background-color: rgb(246, 206, 9);
}

.btn-contact-main:hover {
  background-color: rgb(232, 176, 25);
  color: rgb(4, 7, 52);
}

.btn-about-main {
  border-color: var(--btn-color);
  background-color: var(--btn-color);
}

.btn-about-main:hover {
  background-color: rgb(247, 224, 21);
  color: rgb(4, 7, 52);
}

.main-container a {
  font-family: "Crete Round", serif;
}

.main-container .row {
  margin: 35px 0;
}

.main-container img {
  border: 5px solid rgb(250, 227, 18);
}

.btn-view {
  padding: 10px 20px;
  border-color: var(--btn-color);
  background-color: var(--btn-color);
  font-size: 20px;
}

@media (max-width: 576px) {
  .main-container img {
    display: none;
  }

  .text {
    text-align: center;
    width: 100%;
  }
}

.custom-container {
  max-width: 970px;
  padding: 100px 0 50px 0px;
}

.custom-container img {
  border: 10px dotted rgb(29, 87, 169);
  margin: 30px;
  max-width: 400px;
}

.custom-container p {
  font-size: 20px;
  padding: 30px 30px 0 30px;
}

.custom-container h1 {
  padding: 30px 30px 0px 30px;
  margin: 0;
  color: rgb(4, 7, 100);
}

.custom-container h2 {
  padding: 30px 30px 0px 30px;
  margin: 0;
  color: rgb(4, 7, 100);
}

.contact-me-about {
  text-align: center;
}

.custom-container a {
  padding: 10px 30px;
  font-size: 30px;
  background-color: rgb(17, 96, 175);
  color: rgb(254, 254, 221);
  margin: 40px 10px 0px 10px;
}

@media (max-width: 576px) {
  .custom-container {
    text-align: center;
  }

  .custom-container h1 {
    font-size: 30px;
    width: 100%;
  }

  .custom-container h2 {
    width: 100%;
  }

  .custom-container p {
    font-size: 18px;
    width: 100%;
  }
}

.questions {
  color: rgb(29, 107, 216);
}

.answers {
  color: rgb(232, 176, 25);
  font-size: 35px;
}

#contact-me {
  text-align: center;
  padding: 30px;
}

#contact-me a {
  background: none;
  color: rgb(17, 96, 175);
  text-decoration: none;
  text-align: center;
}

#contact-me span {
  font-size: 40px;
  margin: 0 20px 0 0;
}

@media (max-width: 500px) {
  #contact-me a {
    font-size: 20px;
    padding: 5px;
    margin: 0;
  }
}

@media (max-width: 350px) {
  #contact-me a {
    font-size: 15px;
    padding: 15px 0 0 0;
    margin: 0;
  }
}
